body {
  margin: 0;
  padding: 0;
  background-color: #6c5ce7; /* Deep purple background */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


#buttons {
  display: flex;
  gap: 15px;
}

.btn, .stop {
  padding: 12px 20px;
  font-size: 16px;
  color: white;
  background-color: #2d3436;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-transform: lowercase;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #00cec9;
}

.stop {
  background-color: #d63031;
}

.stop:hover {
  background-color: #c0392b;
}
